
.heading{
    font-size:50px;
    color:whitesmoke;
    font-family:lucida;
    margin-top:auto
     ;
}
.gener{
    font-size: 40px;
    color:whitesmoke;
}
.nav {
    text-align: center;
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center; 
}
.btn{    
background-color:rgb(250, 244, 244);
color:black;    
margin-left:100px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top:30px;
border:2px solid black;
font-size:20px;
border-radius:6px;
}
.allign{ 
    margin:3px;
    border:2px solid black;
    position:absolute;
    bottom:0px;
    padding:2px;
    display: flex;
    margin-left:50px;
}
.adv{
    background-color:rgb(173, 163, 163);
    color:black;
}
.container{
    /* background-color:rgb(74, 73, 73); */
background-color: black;
}
.img{
    border-radius: 12px;
    border:6px solid white;
    height:250px;
    width:600px;
    margin:0px;
}
.img1{
height:250px;
border:3px solid black;
width:100%;
border-top-left-radius: 20px;
border-top-right-radius:20px;
}
.container1{
   background-color:rgb(74,73,73);
   /* background-image:Peaceful(#31B7C2+#7BC393); */
   padding:10px;
   padding-bottom:30px;
   display: flex;
justify-content: space-between;
text-align: center;
}
.box1{
    height:500px;
    padding-bottom:2px;
    width:280px;
    margin:30px 20px;
    margin-bottom: 15px;
    border-radius:20px;
    border:4px solid white;
    position:relative;
    background-image: linear-gradient(to bottom, rgb(74, 74, 74),white);
    background-size:cover;
}
.cards{
    padding:5px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.box2{
    height:560px;
    padding-bottom:2px;
    width:280px;
    margin:30px 20px;
    margin-bottom: 15px;
    border-radius:20px;
    border:4px solid white;
    position:relative;
    background-image: linear-gradient(to bottom,rgb(74,74,74),white);
    background-size:cover;
}    
.final{
    border-radius:20px;
background-color:black; 
  border:15px double whitesmoke;
}
/* ---------------------576PX--------------- */



@media(max-width:576px)
{

    .heading{
        font-size:50px;
        color:whitesmoke;
        font-family:lucida;
        margin-top:auto;
         
    }
    .gener{
        font-size: 40px;
        color:whitesmoke;
    }
    .nav {
        text-align: center;
        margin: 10px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        place-items: center; 
    }
    .btn{    
    background-color:rgb(250, 244, 244);
    color:black;    
    margin-left:100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:30px;
    border:2px solid black;
    font-size:20px;
    border-radius:6px;
    }
    .allign{ 
        margin:3px;
        border:2px solid black;
        position:absolute;
        bottom:0px;
        padding:2px;
        display: flex;
        margin-left:50px;
    }
    .adv{
        background-color:rgb(173, 163, 163);
        color:black;
    }
    .container{
        /* background-color:rgb(74, 73, 73); */
    background-color:black;
    }
    .img{
        border-radius: 12px;
        border:6px solid white;
        height:250px;
        width:600px;
        margin:0px;
    }
    .img1{
    height:250px;
    border:3px solid black;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    }
    .container1{
       background-color:rgb(74,73,73);
       /* background-image:Peaceful(#31B7C2+#7BC393); */
       padding:10px;
       padding-bottom:30px;
       display: flex;
    justify-content: space-between;
    text-align: center;
    }
    .box1{
        height:500px;
        padding-bottom:2px;
        width:280px;
        margin:30px 20px;
        margin-bottom: 15px;
        border-radius:20px;
        border:4px solid white;
        position:relative;
        background-image: linear-gradient(to top, rgb(74, 74, 74),white);
        background-size:cover;
    }
    .cards{
        padding:5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .box2{
        height:560px;
        padding-bottom:2px;
        width:280px;
        margin:30px 20px;
        margin-bottom: 15px;
        border-radius:20px;
        border:4px solid white;
        position:relative;
        background-image: linear-gradient(to top,rgb(74,74,74),white);
        background-size:cover;
    }    
    .final{
        border-radius:20px;
    background-color:black;  
      border:15px double whitesmoke;
    }
}

/* ---------------------767PX--------------- */



@media(max-width:767px)
{

    .heading{
        font-size:50px;
        color:whitesmoke;
        font-family:lucida;
        margin-top:auto;
         
    }
    .gener{
        font-size: 40px;
        color:whitesmoke;
    }
    .nav {
        text-align: center;
        margin: 10px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        place-items: center; 
    }
    .btn{    
    background-color:rgb(250, 244, 244);
    color:black;    
    margin-left:100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:30px;
    border:2px solid black;
    font-size:20px;
    border-radius:6px;
    }
    .allign{ 
        margin:3px;
        border:2px solid black;
        position:absolute;
        bottom:0px;
        padding:2px;
        display: flex;
        margin-left:50px;
    }
    .adv{
        background-color:rgb(173, 163, 163);
        color:black;
    }
    .container{
        /* background-color:rgb(74, 73, 73); */
    background-color:black;
    }
    .img{
        border-radius: 12px;
        border:6px solid white;
        height:250px;
        width:600px;
        margin:0px;
    }
    .img1{
    height:250px;
    border:3px solid black;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    }
    .container1{
       background-color:rgb(74,73,73);
       /* background-image:Peaceful(#31B7C2+#7BC393); */
       padding:10px;
       padding-bottom:30px;
       display: flex;
    justify-content: space-between;
    text-align: center;
    }
    .box1{
        height:500px;
        padding-bottom:2px;
        width:280px;
        margin:30px 20px;
        margin-bottom: 15px;
        border-radius:20px;
        border:4px solid white;
        position:relative;
        background-image: linear-gradient(to top, rgb(74, 74, 74),white);
        background-size:cover;
    }
    .cards{
        padding:5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .box2{
        height:560px;
        padding-bottom:2px;
        width:280px;
        margin:30px 20px;
        margin-bottom: 15px;
        border-radius:20px;
        border:4px solid white;
        position:relative;
        background-image: linear-gradient(to top,rgb(74,74,74),white);
        background-size:cover;
    }    
    .final{
        border-radius:20px;
    background-color:black;  
      border:15px double whitesmoke;
    }
}





